.transactionTable {
    width: 100%;
    border-collapse: collapse;
}
    
.transactionTable thead {
    background-color: #393838;
    color: #ffffff;
}
    
.transactionTable th, .transactionTable td {
    padding: 10px;
    border: 2px solid #1e1e1ebb;
    text-align: center;
}
    
.transactionTable tr:nth-child(even) {
    background-color: #a39c9cbb;
}